body {
	padding: 0px;
	margin: 0px;
	background: radial-gradient(#191919, #0f0f0f 90%);
}

#img-caption {
	padding-top: 0px;
	margin-top: 0px;
	font-size: 0.5rem;
	color: gray;
}

.img-container {
	background-image: linear-gradient(#685fa0, #4c4675);
	width: 100%;
	height: 600px;
	border: none;
}

.img_blackpanther {
	width: 900px;
	height: auto;
	max-height: 600px;
	border: none;
	position: relative;
	left: 17rem;
	max-width: 900px;
	display: block;
}

.header--text {
	position: absolute;
	left: 0.7rem;
	top: 11rem;
	width: 2rem;
	font-size: 4rem;
	font-family: "Merienda", cursive;
}

.header--div_purple {
	width: 100%;
	height: 0.1rem;
	background-color: #685fa0;
	border: none;
}

.info-header--text {
	position: relative;
	left: 34rem;
	width: 350px;
	display: inline-block;
	font-family: "Merienda", cursive;
	font-size: 2rem;
	color: white;
	padding: 50px 10px 10px 10px;
	margin: 0;
}

.info-bullets--item1 {
	width: 600px;
	text-align: left;
	padding: 20px;
	position: relative;
	left: 3rem;
	line-height: 35px;
}

.info-bullets--item2 {
	width: 600px;
	text-align: left;
	padding: 20px;
	position: relative;
	left: 50rem;
	top: -12.4rem;
	line-height: 35px;
}

.info--item {
	font-family: "Merienda", cursive;
	font-size: 1.2rem;
	color: white;
}

.info-link {
	position: relative;
	top: 10rem;
	left: -16rem;
	font-family: "Merienda", cursive;
	color: white;
	text-decoration: none;
}

.info-link:hover {
	position: relative;
	top: 10rem;
	left: -17rem;
	font-family: "Merienda", cursive;
	font-size: 1.1rem;
	color: white;
	text-decoration: none;
}
